.center {
  margin: auto;
  width: 80%;
  padding: 10px;
  color: rgb(4, 31, 44);
}
.align_row {
  display: flex;
}
input {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: white;
  color: black;
}
#heck {
  margin-left: 20px;
}
#managers {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  border: none;
}
#managers th {
  padding: 8px;
  border: none;
}
#managers td {
  padding: 8px;

  border-color: #f2f2f2;
}
.tldr {
  text-transform: lowercase;
}
.tldr::first-letter {
  text-transform: uppercase;
}

/* #managers tr:nth-child(even){background-color: #f2f2f2;}*/

#managers tr:hover {
  background-color: #fafafa;
}

#managers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f3f3f3;
  color: black;
  border: none;
}

.button {
  float: left;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: #ef4c32;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #ef4c32;
  background-color: transparent;
}
.button:hover {
  background-color: #ef4c32;
  color: white;
}
.buttoned {
  float: left;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: #44aa2b;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #44aa2b;
  background-color: transparent;
}
.buttoned:hover {
  background-color: #44aa2b;
  color: white;
}

.edit {
  float: center;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: #2c49cc;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #2c49cc;
  background-color: transparent;
}
.edit:hover {
  background-color: #2c49cc;
  color: white;
}

.delete {
  float: right;
  margin-left: 10px;
  border: none;
  outline: none;
  font-size: 12px;
  font-weight: bold;
  font-family: "Quicksand", sans-serif;
  color: red;
  padding: 3px 10px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid red;
  background-color: transparent;
}
.delete:hover {
  background-color: red;
  color: white;
}
.homebut {
  color: white;
  outline: none;
  background-color: rgb(22, 32, 46);
  border: none;
}
.homebut:hover {
  color: lightskyblue;
  outline: none;
  background-color: rgb(22, 32, 46);
  border: none;
}
.homebut:focus {
  color: lightslategray;
  outline: none;
  background-color: rgb(22, 32, 46);
  border: none;
}
.homebut:active {
  color: white;
  outline: none;
  background-color: rgb(22, 32, 46);
  border: none;
}
.ReactModal__Overlay {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 500ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateX(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateX(-100px);
}
